<div class="form-group">
    <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Address</th>
            <th scope="col">No</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of filterData | filter:term">| 
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.address}}</td>
            <td>{{item.no}}</td>

        </tr>
    </tbody>
</table>


